<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">    
        <link href='https://fonts.googleapis.com/css?family=Montaga' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/md5.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/openSubsHash.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/subsDbHash.js') }}"></script>
    </head>
    <body>
        <form class="box" method="post" action="/subtitle" enctype="multipart/form-data" novalidate>
            <img class="box__content" src="{{ url_for('static', filename='images/download.png') }}"></img>
            <div class="box__loader"></div>
            <span class="box__content"> Drag your movie file here !!!</span>
            <input type="file" name="files" id="file" class="box__file" data-multiple-caption="{count} files selected" multiple />
            <button type="submit" class="box__button">Upload</button>
        </form>
        <script>
            function createDownload(data, name){
                var index = name.lastIndexOf(".");
                if (index !== -1) {
                    name=name.substr(0, index);
                }
                name=name+'.srt'
                var srt = document.createElement('a');
                srt.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(data));
                srt.setAttribute('download', name);
                srt.style.display = 'none';
                document.body.appendChild(srt);
                srt.click();
                document.body.removeChild(srt);
                return
            }

            'use strict';
            ;( function( $, window, document, undefined )
            {
                $( '.box' ).each( function()
                {
                    var $form		 = $( this ),
                        $input		 = $form.find( 'input[type="file"]' ),
                        droppedFiles = false
                    $form.append( '<input type="hidden" name="ajax" value="1" />' );
                    $form
                    .on( 'drag dragstart dragend dragover dragenter dragleave drop', function( e )
                    {
                        e.preventDefault();
                        e.stopPropagation();
                    })
                    .on( 'dragover dragenter', function()
                    {
                        $form.addClass( 'is-dragover' );
                    })
                    .on( 'dragleave dragend', function()
                    {
                        $form.removeClass( 'is-dragover' );
                    })
                    .on( 'drop', function( e )
                    {
                        droppedFiles = e.originalEvent.dataTransfer.files;
                        $form.trigger( 'submit' ); 
                    });
        
                    $form.on( 'submit', function( e )
                    {
                        $('.box__loader').css('visibility','visible');
                        e.preventDefault();
                        if( droppedFiles )
                        {
                            //for single file upload
                            if(droppedFiles.length > 1){
                                alert("Only single file upload is supported!!");
                                location.reload();
                            }
                            $.each( droppedFiles, function( i, file )
                            {
                                subsdb(file, function(subsdbval){
                                    opensubs(file,function(opensubsval){
                                        $.ajax(
                                        {
                                            url: 			$form.attr( 'action' ),
                                            type:			$form.attr( 'method' ),
                                            data: 			JSON.stringify({opensubsHash: opensubsval, subsdbHash: subsdbval, fileSize: file.size}),
                                            cache: false,
                                            contentType: 'application/json',
                                            
                                            success: function( data )
                                            {
                                                var obj = JSON.parse(data)
                                                if (obj.status==400){
                                                    alert('Subtitles not found')
                                                }
                                                else if (obj.status==200){
                                                    createDownload(obj.data,file.name)
                                                }
                                            },
                                            error: function()
                                            {
                                                alert( 'Server error !!!' );
                                            },
                                            complete: function()
                                            {
                                                $form.removeClass( 'is-dragover' );
                                                $('.box__loader').css('visibility','hidden');
                                                location.reload();
                                            }
                                        });
                                    })
                                })
                            });
                        }
                        
                    });
                    // Firefox focus bug fix for file input
                    $input
                    .on( 'focus', function(){ $input.addClass( 'has-focus' ); })
                    .on( 'blur', function(){ $input.removeClass( 'has-focus' ); });
                });
            })( jQuery, window, document );
        
        </script>
        
    </body>
</html>